spring:
  application:
    name: tecAlliance
  jackson:
    default-property-inclusion: non_null
# MongoDB Configuration
  mongodb:
    database: tecalliance
    uri: mongodb://admin:admin123@localhost:27017/tecalliance?authSource=admin

# OpenAPI/Swagger Configuration
springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    operations-sorter: method
    tags-sorter: alpha

# Actuator for health checks
management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
